Source: ros-eloquent-gazebo11-ros-pkgs
Section: misc
Priority: optional
Maintainer: Jose Luis Rivero <jrivero@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-eloquent-ament-cmake, ros-eloquent-ros-workspace
Homepage: http://gazebosim.org/tutorials?cat=connect_ros
Standards-Version: 3.9.2

Package: ros-eloquent-gazebo11-ros-pkgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-eloquent-gazebo11-dev, ros-eloquent-gazebo11-msgs, ros-eloquent-gazebo11-plugins, ros-eloquent-gazebo11-ros, ros-eloquent-ros-workspace
Conflicts: ros-eloquent-gazebo-ros-pkgs , ros-eloquent-gazebo10-ros-pkgs, ros-eloquent-gazebo9-ros-pkgs
Description: Interface for using ROS with the Gazebo simulator.
